.landingpage-container {
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
}

.input-group-text{
    width: 50px;
    font-size: 22px;
}

.negative-logo-div{
    height: 25vh;
    position: absolute;
}

.negative-logo{
    width: 200px;
}

.form-div{
    height: 100vh;
    /* position: absolute; */
    /* box-sizing: content-box; */
}

.div-h1{
    /* max-width: 90vw; */
}

.input-group{
    /* max-width: 90vw; */
}

input{
    font-size: 24px!important;
    height: 48px!important;
    font-weight: 300!important;
}

span{
    /* font-size: 250px; */
}

button{
    background-color: #39b54a!important;
    font-weight: 600!important; 
    width: 100px;
}

h1{
    color: white;
    font-size: 40pt;
    font-weight: 800;
    text-align: left!important;
    margin-bottom: 35px;
}

.row{
    /* max-width: 100%; */
}

/* @media (min-width: 1150px){
    input{
        font-size: 24px!important;
        height: 48px!important;
        
    }
    
    h1{
     font-size: 40pt!important;
    }

    button{
        width: 100px;
    }

    .input-group-text{
        width: 50px;
        font-size: 22px;
    }


 } */

 @media (max-width: 768px){
    input{
        font-size: 14px!important;
        height: 38px!important;
        font-weight: 300!important;
        
    }
    
    h1{
     font-size: 18px!important;
     margin-bottom: 15px;
    }
    .negative-logo{
        width: 150px;
    }
    button{
        /* width: 100px; */
    }

    .input-group-text{
        width: 40px;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1150px){
    input{
        font-size: 24px!important;
        height: 48px!important;
        
    }
    
    h1{
     font-size: 30pt!important;
    }

    button{
        width: 100px;
    }

    .input-group-text{
        width: 50px;
        font-size: 22px;
    }

}
/* @include media-breakpoint-up(xl) { ... } */
